<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta
    name="description"
    content="{{ .Page.Description | default .Site.Params.description }}"
  />

  <title>{{ .Page.Title }} by {{ site.Params.author }}</title>

  <!-- Preconnect to CDN -->
  <link rel="preconnect" href="https://cdnjs.cloudflare.com" />

  <!-- Favicons -->
  <link
    rel="icon"
    type="image/png"
    href="{{ .Site.BaseURL }}favicon/favicon-96x96.png"
    sizes="96x96"
  />
  <link
    rel="icon"
    type="image/svg+xml"
    href="{{ .Site.BaseURL }}favicon/favicon.svg"
  />
  <link rel="shortcut icon" href="{{ .Site.BaseURL }}favicon/favicon.ico" />
  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="{{ .Site.BaseURL }}favicon/apple-touch-icon.png"
  />
  <link rel="manifest" href="{{ .Site.BaseURL }}favicon/site.webmanifest" />

  <!-- Bootstrap CSS -->
  <link
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha512-b2QcS5SsA8tZodcDtGRELiGv5SaKSk1vDHDaQRda0htPYWZ6046lr3kJ5bAAQdpV2mmA/4v0wQF9MyU6/pDIAg=="
    crossorigin="anonymous"
  />

  <!-- Custom CSS -->
  {{ $style := resources.Get "sass/main.scss" | css.Sass | resources.Minify |
  resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $style.Permalink }}" />

  <!-- Bootstrap JS (no jQuery dependency) -->
  <script
    defer
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js"
    integrity="sha512-X/YkDZyjTf4wyc2Vy16YGCPHwAY8rZJY+POgokZjQB2mhIRFJCckEGc6YyX9eNsPfn0PzThEuNs+uaomE5CO6A=="
    crossorigin="anonymous"
  ></script>

  {{ partial "header/box-colors.html" . }}
</head>
